<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About McSplurty2</h1>

  <p>
    McSplurty2 was built by <a target="_blank" href="http://github.com/MarcMcArthur">Marc</a>. A web developer on a misssion to create beautiful and highly functional websites!
  </p>
  <br />
  <p>
    With the support of the firehose community he is learning to code - one line at a time!
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'me.gif', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Marc McArthur</h2>
    <br />
    <p>
      Marc McArthur is a trainee web developer!
    </p>
  </div>


</div>

<br class="clear" />
<br />
<br />
<br />
<br />

